*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;

}

body{
    background-color: #000000;
}

.main-content{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}

.left-section{
    grid-column: span 2;
    height: 100%;
    background-color: #ffd8f5;
}

.right-section{
    grid-column: span 5;
    background-color: #0c575a; 
    height: 100%;
}

.left-content{
    padding: 1.5rem;
}

.perfil{
    width: 100%;
    border-bottom: 1px  solid #000000;
}

.image{
    width: 100%;
    text-align: center;
}

.perfil img{
    width: 100%;
    padding: 1rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
}

.nombre{
    font-size: 1.5rem;
    color: #0c575a;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem 0;
    position: sticky;
}

.carrera{
   font-size: 1.2rem;
   text-transform: uppercase;
   font-weight: bold;
   color: #0c575a;
   text-align: center;
   padding-bottom: 0.5rem;
   margin: 1rem;
   position: sticky;
}

.main-title{
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    color: #0c575ae0;
    padding: 1rem 0;
    margin-top: 1rem;
    position: sticky;
}


li {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.icon{
    width: 2rem; 
}

.text-contact{
    font-size: 1rem;
    color: #0c575a;
    padding-left: 0.5rem;
    position: sticky;
}

/* Habilidades */

.skills-section{
    width: 100%;
    border-top: 1px  solid #000000;
}

.skills-section ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill-title{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0c575a;
    padding-right: 1rem;
    position: sticky;
}

.barra-progreso{
    width: 50%;
    height: 0.4rem;
    background-color: #b4b3ffe0;
    position: relative;
}

.progreso{
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #0c575ae0;
    border-radius: 12px;
}

.progreso-html5{
    width: 100%;
}

.progreso-sass{
    width: 90%;
}



.progreso-css{
    width: 80%;
}

.progreso-js{
    width: 70%;
}

.progreso-bootstrap{
    width: 60%;
}

.progreso-git{
    width: 55%;
}

/* Idiomas */

.idiomas-title{
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0c575a;
    padding: 2rem;
}

.progreso-ingles{
    width: 75%;
}



/* Sobre Mí */

.right-main-content{
    padding: 2rem 3rem;
}

.right-title{
    color: #0c575ae0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #ffd8f5;
}



.about-text{
    color:  #ffd8f5;
    font-weight: bold;
    padding: 1rem;
    margin-top: 2.5rem;
    letter-spacing: 1px;
}

.experiencia{
    padding: 2rem 3rem; 
}

.experiencia-title{
    color:  #ffd8f5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 0.5rem;
    padding-top: 2.5rem;
    padding-left: 0.5rem;
}

.experiencia-text{
    color:  #ffd8f5;
    font-weight: bold;
    padding: 1rem;
    letter-spacing: 1px;
}

.icon-div{
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    margin-left: 1.5rem;
}


.icon-experiencia{
    width: 2rem;  
}

.text-icon{
    color:  #ffd8f5d6;
    font-weight: bold;
    padding: 1rem;
    letter-spacing: 1px;
}

/* Educación */

.educacion{
    padding: 2rem 3rem; 
}

.educacion-title{
    color:  #ffd8f5;
    font-weight: bold;
    padding: 1rem;
    letter-spacing: 1px;
}

.cursos{
    width: 100%;
    border-top: 1px  solid #000000;
}

/* Media Queries */
@media screen and (max-width: 823px) {

    .icon-div{
        width: 100%;
        flex-direction: column;
    }

    li{
        width: 100%;
        flex-direction: column;
    }   
}

 @media screen and (max-width: 768px) {

    .left-section{
        grid-column: span 3;
    }

    .right-section{
        grid-column: span 4;
    }

    .icon-div{
        margin: 0;
        width: 100%;
        flex-direction: column;
        
    }

    .educacion-title{
        text-align: center;
    }

    li{
        width: 100%;
        flex-direction: column;
    }

    .nombre{
        font-size: 1.5rem;
    }

    .perfil img{
        width: 100%;
        padding: 0%;
    }
    
    .text-contact {
        font-size: 1rem;
        text-align: center;
        color: #0c575a;
        padding-left: 0.5rem;
    }
    
    
  }

  @media  screen and (max-width: 1200px) {
    .main-content{
        grid-template-columns: repeat(1, 1fr);
    }

    .perfil img{
        width: 40%;
    }
    
  }







